<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
  </head>
  <body class="text-center">
    <h1>Welcome to the Ultimate Meme Website</h1>
    <p>Enjoy your meme below. Meme refreshes every 20 seconds</p>
    <div class="row justify-content-center">
      <figure class="col-md-10 col-lg-8 col-xl-6">
        <img src="{{url}}" alt="a funny meme" />
        <br />
        <caption>
          {{title}}
        </caption>
      </figure>
    </div>
    <a href="{{postLink}}" target="_blank">View post on reddit</a>
  </body>

  <script src="{{url_for('static', filename='scripts.js')}}"></script>
</html>
